.nfl-take2-table {
  border: 1pt solid blue;
  color: white;
}

.nfl-take2-table thead {
  background: gold;
  font-size: 16pt;
  margin: 2px;
  padding: 4px;
}

.nfl-take2-table tbody td{
  background: brown;
}

.date-dropdown {
  background-color: brown;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}
